/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
  background-color: #3CB371;
  color: white;
  
  font-style: italic;
  color: #FFFFFF;
}

h1 {
  font-family: vaerdana, arial, sans-serif;
}

button
{
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button
{
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden
{
  display:none;
}

#Button1
{
  background: lightgreen;
}

#Button1:active,#Button1.lit
{
  background: green;
}

#Button2
{
  background: lightblue;
}

#Button2:active,#Button2.lit
{
  background: blue;
}

#Button3
{
  background: pink;
}

#Button3:active,#Button3.lit
{
  background: red;
}

#Button4
{
  background: lightyellow;
}

#Button4:active,#Button4.lit
{
  background: yellow;
}

